* {
  box-sizing: border-box;
  margin: 0;
  /*border: 1px solid black;*/
}

a, p, button {
  font-family: "Acme";
  font-size: medium;
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Acme";
  color: black;
}

body, html {
  scroll-padding-top: 100px;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}

html {
  scroll-behavior: smooth;
}

.izq {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 250px;
}

.container {
  display: flex;
  align-items: center;
}

.der {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 250px;
}

/* Header */

.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.headerLogo {
  height: 80px;
}

.btn {
  border: 1px;
  background: none;
  cursor: pointer;
}

.espacioDer {
  margin-right: 10px;
}

.linkHeader {
  position: relative;
  color: black;
  padding-bottom: 5px;
}

.linkHeader:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ff9c35;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.btn:hover .linkHeader:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.regisButton {
  background-color: #86a7fc;
  color: white;
  border: 0px;
  border-radius: 16px;
  width: 120px;
  height: 40px;
}

.loginButton {
  background-color: #ff9c35;
  color: white;
  border: 0px;
  border-radius: 16px;
  width: 120px;
  height: 40px;
  margin-left: 10px;
}

.regisButton:hover {
  box-shadow: 0 4px 16px #86a7fc;
  transition: all 0.2s ease;
}

.loginButton:hover {
  box-shadow: 0 4px 16px #ff9c35;
  transition: all 0.2s ease;
}

/* Contenido */

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px;
}

@keyframes scale-up {
  to { transform: scale(1.5); }
}

@keyframes fade-away {
  to { opacity: 0; }
}

.tituloPrincipal {
  view-timeline: --scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 64px;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  animation: fade-away both linear;
  animation-timeline: --scroll;
  animation-range: exit 20% exit 90%;
}

.image-container img {
	width: 80%;
  animation: scale-up both ease-in-out,
             fade-away both linear;
  animation-timeline: --scroll;
  animation-range: exit 0% exit 100%, exit 50% exit 90%; 
}

/* basic */
.tituloPrincipal {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tituloPrincipal:nth-of-type(1) {
  height: 100vh;
}

.tituloPrincipal:nth-of-type(2) {
  height: 140vh;
}

.tituloPrincipal div {
  width: 100%;
}

/* reset */
*, *:after, *:before {
  box-sizing: border-box;
}

.slogan {
  margin-top: 100px;
  font-family: "Acme";
  font-size: xx-large;
  margin-bottom: 100px;
}

/* Seccion Informacion General */
.infoGeneral {
  height: 600px;
  display: flex;
  flex-direction: row;
}

.txtInfoGeneral{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding-bottom: 100px; /*Se sube lo que falta por el SVG de arriba, esto para que quede centrado*/
}

.txtInfoGeneral h1{
  font-size: 3em;
}

.perroInfoGeneral img{
  width: 1000px;
  height: auto;
}

/* Seccion servicios */
.servicios {
  height: 600px;
  display: flex;
  flex-direction: row;
}

/* Seccion ubicación */
.ubicacion {
  height: 600px;
  display: flex;
  flex-direction: row;
}

.txtUbicacion{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.txtUbicacion h1{
  font-size: 3em;
}

.txtUbicacion p {
  text-align: center;
}

.containerMapa {
  width: 60%;
  display: flex;
  justify-content: center;
}

.borde {
  border: 3px solid #3468c0;
}

.btnUbi {
  border: 1px;
  background: none;
  cursor: pointer;
}

.linkUbi {
  position: relative;
  color: black;
  padding-bottom: 5px;
}

.linkUbi:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #3468c0;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.btnUbi:hover .linkUbi:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Colores */
.naranja {
  background-color: #ff9c35;
}

.melocoton {
  background-color: #ffdd95;
}

.azulClaro {
  background-color: #86a7fc;
}

.azulOscuro {
  background-color: #3468c0;
}

.blanco {
  background-color: #ffffff;
}

.gris {
  background-color: #dfe0df;
}

.negro {
  background-color: #000000;
}

/* Curvas */
.curva {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.curva svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 64px;
}

.curva .shape-fill {
  fill: #ff9c35;
}

/*Curva Entre Bienvenido y Servicios*/
.curvaBienvenida-Servicios {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.curvaBienvenida-Servicios svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 138px;
}

.curvaBienvenida-Servicios .shape-fill {
  fill: #86A7FC;
}

/* Curva entre servicios y ubicación */

.curvaUbicacion {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curvaUbicacion svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 64px;
}

.curvaUbicacion .shape-fill {
  fill: #FFFFFF;
}

/* Footer */

.footer {
  height: 60px;
  width: 100%;
  position: absolute;
  padding: 10px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLogo {
  height: 30px;
  padding-right: 10px;
}

.footerRedes {
  height: 30px;
}
