* {
    box-sizing: border-box;
    margin: 0;
    /*border: 1px solid black;*/
  }

body {
    display: flex;
    flex-direction: row;
    margin: 0; /* Añade margen cero para evitar espacios innecesarios */
    font-family: 'Acme';
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Utiliza el 100% de la altura de la ventana */
    width: 12.5%; /* Anchura fija del header */
    background-color: #3468c0;
}

.header-logo {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 7%;

}

.header-logo img {
    height: 125%;
}

.header-logo h1 {
    margin: 0;
    font-family: 'Acme';
    font-size: 45px;
    color: white;
    padding-left: 15px;
}

.infoVet {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.infoVet img {
    height: 70%;
    border-radius: 50%;
}

.infoVet p {
    margin: 0;
    padding-top: 15px;
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
    color: white;
}

.navMenu {
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    border-radius: 5%;
    background-color: #86a7fc;
}

.navMenu a {
    flex-grow: 1;
    padding-top: 20px;
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.navMenu a:hover {
    color: #ffdd95;
}

.log-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10%;
}

.log-out a {
    text-decoration: none;
    margin: 0;
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Utiliza el 100% de la altura de la ventana */
    width: 87.5%; /* Anchura fija del cuerpo */
    padding-left: 50px;
    padding-right: 50px;
    background-color: #ffffff;
}

.cabeza {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-items: center;
    height: 10%;
    margin-top: 25px;
}

.cabeza h1 {
    margin: 0;
    font-size: 40px;
}

.cabeza button {
    font-size: 25px;
    font-family: 'Acme', sans-serif;
    background-color: #ff9c35;
    color: white;
    border: 0px;
    border-radius: 16px;
    width: 180px;
    height: 40px;
    margin-left: 10px;
}

.cabeza button:hover {
    box-shadow: 0 4px 16px #ff9c35;
    transition: all 0.2s ease;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 450px;
    max-height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
        -4px -4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}

.card-image-container {
    width: 35%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(165, 165, 165);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-texto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 65%;

}

.info-dog {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 25px;
    padding-right: 50px;
    font-size: 1.25em;
}

.info-dueño {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.25em;
}

.info img {
    height: 100%;
    margin-right: 50px;
}

.info ul {
    font-size: 1.5em;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-items: center;
    height: 10%;
    margin-top: 70px;
}

.search h1 {
    margin: 0;
    font-size: 40px;
}

.search input {
    font-size: 1.5em;
    width: 50%;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #000000;
    padding-left: 30px;

}

.cuerpo table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5em;
}

.cuerpo th, .cuerpo td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

.cuerpo th {
    background-color: #3468c0;
    color: white;
}