* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
    background-color: #3468c0;
    padding: .4rem .8rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8%;
    margin-top: 20px;
    gap: 10px;
    font-family: 'Acme', sans-serif;
    color: white;
    font-size: 3.5em;
}

.top img {
    position: absolute;
    height: 7%;
    left: 50%;
    line-height: 50px;
    transform: translateX(-50%);
    transition: all 0.5s ease;
    z-index: 100;
}

.sidebar.active #btn{
    transform: translateX(-120%);
}

.sidebar .logo {
    opacity: 0;
    transition: all 0.2s ease;
}

.sidebar.active .logo {
    transform: translate(40%);
    opacity: 1;
    transition: all 0.5s ease;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 17%;
}

.user img {
    position: absolute;    
    height: 8%;
    border-radius: 50%;
    left: 50%;
    line-height: 50px;
    transform: translateX(-50%);
    transition: all 0.5s ease;
    z-index: 100;
    border: 2px solid white;
}

.user p {
    padding-left: 100px;
    margin-bottom: 0;
    font-size: 0em;
    color: white;
    opacity: 0;
    transition: all 0.2s ease;
}

.sidebar.active .user p {
    opacity: 1;
    padding-left: 100px;
    font-size: 1.25em;
    transition: all 0.8s ease;
}

.sidebar.active .user img{
    transform: translateX(-130%);
}

.sidebar .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75%;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem;
    line-height: 50px;
}

.sidebar ul li a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li:hover a{
    background-color: #83a7fc;
    color: #ffdd95;

}

.sidebar i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    font-size: 2.5em;
    transition: all 0.5s ease;
    padding-left: 13px;
}

.sidebar .nav-item {
    opacity: 0;
    font-size: 0;
    transition: all 0.2s ease;

}

.sidebar.active .nav-item {
    opacity: 1;
    font-size: 1.3em;
    transition: all 0.5s ease;
}

.sidebar.active i {
    font-size: 1.8em;
    transition: all 0.5s ease;
    padding-left: 0px;
}

#logout {
    margin-top: 120px;
}

.main-content {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 100px;
    transition: all 0.5s ease;
    width: calc(100% - 100px);
    padding: 1rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    
    display: flex;
    flex-direction: column;
}

.cabeza {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-items: center;
    height: 10%;
    margin-top: 25px;
}

.cabeza h1 {
    margin: 0;
    font-size: 40px;
}

.cabeza button {
    font-size: 25px;
    font-family: 'Acme', sans-serif;
    background-color: #ff9c35;
    color: white;
    border: 0px;
    border-radius: 16px;
    width: 180px;
    height: 40px;
    margin-left: 10px;
}

.cabeza button:hover {
    box-shadow: 0 4px 16px #ff9c35;
    transition: all 0.2s ease;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 450px;
    max-height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
        -4px -4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}

.card-image-container {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(165, 165, 165);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 65%;

}

.info-dog {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 25px;
    padding-right: 50px;
    font-size: 1.25em;
}

.info-dueño {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.25em;
}

.info img {
    height: 100%;
    margin-right: 50px;
}

.info ul {
    font-size: 1.5em;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-items: center;
    height: 10%;
    margin-top: 70px;
}

.search h1 {
    margin: 0;
    font-size: 40px;
}

.search input {
    font-size: 1.5em;
    width: 50%;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #000000;
    padding-left: 30px;

}

.main-content table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5em;
}

.main-content th, .main-content td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

.main-content th {
    background-color: #3468c0;
    color: white;
}