<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petly Pet</title>
    <link rel="icon" href="/images/dog.png" />
    <meta
      name="author"
      content="Hermann Hernández, Nicolás Rincón, Alejandro Suárez"
    />
    <meta name="keywords" content="petly, veterinary, vet, pet, dog" />
    <link rel="stylesheet" href="/css/onePet.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>

</head>
<body>

    <!-- Sidebar del Veterinario-->
    <div class = "sidebar">

        <!-- Parte superior del sidebar para el logo -->
        <div class = "top">
            <img src="/images/dog.png" alt="logo" id="btn"/>
            <div class = "logo">
                <span>Petly</span>
            </div>
        </div>

        <!-- Apartado para Foq y Nombre del veterinario -->
        <div class = "user">
            <img src="/images/vet1.jpg" alt="Veterinario" class="user-img"/>
            <p>Dr. Alexander García</p>           
        </div>
        
        <!-- Apartado para las opciones de navegación del veterinario -->
        <div class = "nav">
            <ul>
                <!-- opcion para ver todas las mascotas -->
                <li>
                    <a th:href="@{/veterinario/mascotas/all}">
                        <i class="bx bx-table"></i>
                        <span class="nav-item">Ver mascotas</span>
                    </a>
                </li>

                <!-- opcion para registrar una nueva mascota -->
                <li>
                    <a th:href="@{/veterinario/mascotas/add}">
                        <i class="bx bxs-dog"></i>
                        <span class="nav-item">Registrar mascota</span>
                    </a>
                </li>

                <!-- opcion para ver todos los tratamientos -->
                <li>
                    <a href="">
                        <i class="bx bx-capsule"></i>
                        <span class="nav-item">Ver tratamientos</span>
                    </a>
                </li>

                <!-- opcion para ver todas las atenciones medicas -->
                <li>
                    <a href="">
                        <i class="bx bx-plus-medical"></i>
                        <span class="nav-item">Atención medica</span>
                    </a>
                </li>

                <!-- opcion para ver todos los clientes -->
                <li>
                    <a th:href="@{/veterinario/clientes/all}">
                        <i class="bx bx-group"></i>
                        <span class="nav-item">Ver clientes</span>
                    </a>
                </li>

                <!-- opcion para registrar un nuevo cliente -->
                <li>
                    <a th:href="@{/veterinario/clientes/add}">
                        <i class="bx bx-user-plus"></i>
                        <span class="nav-item">Registrar cliente</span>
                    </a>
                </li>

                <!-- opcion para cerrar sesión -->
                <li id="logout">
                    <a href="/">
                        <i class="bx bx-log-out"></i>
                        <span class="nav-item">Cerrar sesión</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Termino del sidebar del veterinario -->

    <!-- Contenido principal -->
    <div class = "main-content">

        <!-- Apartado (izquierdo) para presentar la información de la mascota -->
        <div class = "left-side">

            <!-- Nombre de la mascota -->
            <div class = "cabeza">
                <h1> <span th:text=${mascota.nombre}></span></h1>
            </div>
            
            <!-- Card para presentar la información de la mascota -->
            <div class = "info">
                
                <!-- Imagen de la mascota -->
                <div class="card-image-container">
                    <img th:src="${mascota.foto}" alt="fotoPerro"/>
                </div> 

                <!-- informacion de la card -->
                <div class = info-texto>

                    <!-- Informacion de la mascota -->
                    <div class = info-dog>
                        <h2>Información Mascota</h2>
                        <div class="lista">
                            <ul class="card-des">
                                <li>Raza: <span th:text="${mascota.raza}"></span></li>
                                <li>Edad: <span th:text="${mascota.edad}"></span></li>
                                <li>Peso: <span th:text="${mascota.peso}"></span></li>
                                <li>Enfermedad: <span th:text="${mascota.enfermedad}"></span></li>
                                <!-- <li>Estado: <span th:text="${mascota.estado}"></span></li> -->
                            </ul>
                        </div>
                        
                    </div>

                    <!-- Informacion del dueño de la mascota -->
                    <div class = info-dueño>
                        <h2>Información Dueño</h2>
                        <div class="lista">
                            <ul class="card-des">
                                <li>Cedula: <span th:text="${mascota.cliente.cedula}"></span></li>
                                <li>Nombre: <span th:text="${mascota.cliente.nombre}"></span></li>
                                <li>Apellido: <span th:text="${mascota.cliente.apellido}"></span></li>
                                <li>Celular: <span th:text="${mascota.cliente.celular}"></span></li>
                            </ul>
                        </div>
                        
                    </div> 
                </div>                     
                
            </div>
        </div> 
        <!-- Fin del apartado (izquierdo) -->

        <!-- Apartado (derecho) para mostrar los tratamientos de la mascota -->
        <div class = "right-side">

            <!-- Apartado para la barra de busqueda para filtrar los tratamientos -->
            <div class = "search">
                <h1>Tratamientos </h1>
            <input type="search" id="myInput" onkeyup="myFunction()" placeholder="Buscar " title="Type in a name">
            </div>
            
            <!-- Tabla con los tratamientos de la mascota -->
            <table class="tablita">
                <thead>
                    <tr>
                        <th>Medicina</th>
                        <th>Fecha</th>
                        <th>Veterinario</th>
                    </tr>
                </thead>
                <!-- Cuerpo de la tabla con los tratamientos de la mascota -->
                <tbody>
                    <!-- por cada tratamiento de la mascota se crea una fila de la tabla con sus datos (los datos de la base de datos) -->
                    <tr th:each="tratamiento : ${tratamientos}">
                        <td th:text="${tratamiento.droga}"></td>
                        <td th:text="${tratamiento.fecha}"></td>
                        <td th:text="${tratamiento.veterinario}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Fin del apartado (derecho) -->

    </div>
    <!-- Fin del contenido principal -->
</body>

<script>
    let sidebar = document.querySelector('.sidebar'); // Obtiene el elemento sidebar

    sidebar.addEventListener('mouseover', function() { // Agrega el evento de mouseover al sidebar
        sidebar.classList.add("active"); // Agrega la clase active al sidebar
    });

    sidebar.addEventListener('mouseleave', function() { // Agrega el evento de mouseleave al sidebar
        sidebar.classList.remove("active"); // Quita la clase active al sidebar
    });
</script>

</html>