<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>La mascota que buscas no existe bro</h1>
    <h2 th:text="'Id buscado = ' + ${id}"></h2>

    <div class = "cabeza">
        <button class="btn btn-danger" onclick="window.location.href='/mascotas/all'">Volver</button>
    </div>

    <img src="/images/perroError.jpg" alt="logo" id="btn"/>

    

</body>
</html>