<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petly Pet</title>
    <link rel="icon" href="/images/dog.png" />
    <meta
      name="author"
      content="Hermann Hernández, Nicolás Rincón, Alejandro Suárez"
    />
    <meta name="keywords" content="petly, veterinary, vet, pet, dog" />
    <link rel="stylesheet" href="/css/perfilCliente.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>

</head>
<body>
    <!-- Sidebar del Cliente con sus datos -->
    <div class = "sidebar">

        <!-- Parte superior del sidebar para el logo -->
        <div class = "top">
            <img src="/images/dog.png" alt="logo" id="btn"/>
            <div class = "logo">
                <span>Petly</span>
            </div>
        </div>

        <!-- Apartado para Icono y Nombre del usuario -->
        <div class = "user">
            <i class="bx bxs-user-circle" id="raro"></i>
            <p><span th:text="${cliente.nombre} + ' ' + ${cliente.apellido}"></span></p>
        </div>
        
        <!-- Apartado para presentar los datos del usuario -->
        <div class = "nav">
            <ul>
                <li>
                    <a>
                    <i class="bx bx-id-card"></i>
                    <span th:text="${cliente.cedula}" class="nav-item especial"></span>
                    </a>
                </li>

                <li>
                    <a>
                        <i class="bx bxs-phone"></i>
                        <span th:text="${cliente.celular}" class="nav-item especial"></span>
                    </a>
                </li>

                <li>
                    <a>
                        <i class="bx bx-envelope"></i>
                        <span th:text="${cliente.correo}" class="nav-item especial"></span>
                    </a>
                </li>
                
                <li>
                    
                </li>
                
                <li>
                    
                </li>

                <li>

                </li>

                <!-- Redireccionamiento a la pagina principal (cerrar sesión) -->
                <li id="logout">
                    <a href="/">
                        <i class="bx bx-log-out"></i>
                        <span class="nav-item">Cerrar sesión</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Fin Sidebar -->

    <!-- Contenido principal -->
    <div class = "main-content">

        <!-- Apartado para la barra de busqueda -->
        <div class = "search">
            <h1>Mascotas</h1>
            <!-- input de busqueda para filtrar mascotas por nombre -->
            <input type="search" id="myInput" onkeyup="filterTable()" placeholder="Buscar mascota por nombre" title="Type in a name">
        </div>
        
        <!-- Tabla con las mascotas del cliente -->
        <table id="myTable" class="tablita">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Raza</th>
                    <th>Edad</th>
                    <th>Peso</th>
                    <th>Enfermedad</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla con las mascotas del cliente y sus datos (datos de la base de datos) -->
            <tbody>
                <!-- por cada mascota del cliente se crea una fila de la tabla con sus datos (los datos de la base de datos) -->
                <tr th:each="mascota : ${cliente.mascotas}"> 
                    <td><img class="fotoPerro" th:src="${mascota.foto}" alt="Foto Mascota"/></td>
                    <td th:text="${mascota.nombre}"></td>
                    <td th:text="${mascota.raza}"></td>
                    <td th:text="${mascota.edad}"></td>
                    <td th:text="${mascota.peso}"></td>
                    <td th:text="${mascota.enfermedad}"></td>
                    <td class="opciones">
                        <a class="links icono" th:href="@{/usuario/{cliente}/mascota/{id}(cliente=${cliente.id}, id=${mascota.id})}">
                            <i class='bx bx-info-circle'></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Fin Contenido principal -->
    
</body>

<script>
    let sidebar = document.querySelector('.sidebar'); // Obtiene el elemento sidebar

    sidebar.addEventListener('mouseover', function() { // Agrega el evento de mouseover al sidebar
        sidebar.classList.add("active"); // Agrega la clase active al sidebar
    });

    sidebar.addEventListener('mouseleave', function() { // Agrega el evento de mouseleave al sidebar
        sidebar.classList.remove("active"); // Quita la clase active al sidebar
    });

    // Funcion para filtrar la tabla
    function filterTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        
        // por cada fila de la tabla se verifica si la celda del nombre coincide con el filtro
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1]; 
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) { // si coincide se muestra(n) la(s) fila(s)
                    tr[i].style.display = ""; 
                } else { // si no coincide se ocultan todas las filas
                    tr[i].style.display = "none"; 
                }
            }       
        }
    }
</script>

</html>