<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Petly</title>
    <link rel="icon" href="/images/dog.png" />
    <meta
      name="author"
      content="Hermann Hernández, Nicolás Rincón, Alejandro Suárez"
    />
    <meta name="keywords" content="petly, veterinary, vet, pet, dog" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/registroCliente.css" />
</head>
<body>
    <form th:object="${cliente}" th:action="@{/veterinario/clientes/agregar}" method="post" class="card">
        
        <div class="card-top">
            <img src="/images/logo.png" alt="logo"/>            
            <h1>Registrar nuevo cliente</h1>
        </div>

        <div class="formulario">

            <div class="form-div">

                <div class="form-group input-container">
                    <input th:field="*{cedula}" type="text" id="cedula" required>
                    <label class="label" for="cedula">Cedula Cliente</label>
                    <div class="underline"></div>
                </div>
                
                <div class="form-group input-container">
                    <input th:field="*{nombre}" type="text" id="nombre" required>
                    <label class="label" for="nombre">Nombre Cliente</label>
                    <div class="underline"></div>
                </div>

            </div>
        
            <div class="form-div">

                <div class="form-group input-container">
                    <input th:field="*{apellido}" type="text" id="apellido" required>
                    <label class="label" for="apellido">Apellido Cliente</label>
                    <div class="underline"></div>
                </div>
        
                <div class="form-group input-container">
                    <input th:field="*{correo}" type="email" id="correo" required>
                    <label class="label" for="correo">Correo Cliente</label>
                    <div class="underline"></div>
                </div>

            </div>
    
            <div class="form-group input-container form-div">
                <input th:field="*{celular}" type="number" id="celular" required>
                <label class="label" for="celular">Celular Cliente</label>
                <div class="underline"></div>
            </div>
    
            <div class="form-div">
                <button class="btn-secondary" onclick="window.location.href='/veterinario/clientes/all'">Volver</button>
                <button type="submit" class="btn-primary">Registrar</button>
            </div>

        </div>

    </form>
</body>
</html>