<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <form th:object="${cliente}" th:action="@{/clientes/agregar}" method="post">
        <div class="form-group">
            <label for="cedula">Cedula Cliente</label>
            <input th:field="*{cedula}" type="number" id="cedula" placeholder="Ingresa la cedula" required>
        </div>
        
        <div class="form-group">
            <label for="nombre">Nombre Cliente</label>
            <input th:field="*{nombre}" type="text" id="nombre" placeholder="Ingresa el nombre" required>
        </div>

        <div class="form-group">
            <label for="apellido">Apellido Cliente</label>
            <input th:field="*{apellido}" type="text" id="apellido" placeholder="Ingresa el apellido" required>
        </div>

        <div class="form-group">
            <label for="correo">Correo Cliente</label>
            <input th:field="*{correo}" type="email" id="correo" placeholder="Ingresa el correo" required>
        </div>

        <div class="form-group">
            <label for="celular">Celular Cliente</label>
            <input th:field="*{celular}" type="number" id="celular" placeholder="Ingresa el celular" required>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</body>
</html>